# Dependencias
node_modules/

# Archivos de entorno
.env

# Logs
*.log
logs/

# Cobertura de tests
coverage/
*.lcov

# Builds
dist/
build/

# Configuración de IDE
.vscode/
.idea/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
